@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
	--dark-black: #0B090A;
	--light-black: #141414;
	--dark-white: #F5F3F4;
	--light-white: #FFFFFF;
	--dark-blue: #2F57A7;
	--light-blue: #4477dd;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	font-family: "Poppins", sans-serif;
	background: url('/img/bg4.jpg') no-repeat;
	background-size:cover;
	background-position: center;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: .8rem 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
}

.header::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.591);
	backdrop-filter: blur(50px);
	z-index: -1;

}

.logo {
	color: white;
	font-size: 2rem;
	font-weight: bolder;
	cursor: pointer;
	text-decoration: none;
	font-family: "Pacifico", cursive;
	font-weight: bolder;
	font-style: normal;
}

.navbar a{
	font-size: 1.15rem;
	color: var(--light-white);
	text-decoration: none;
	font-weight: 500;
	text-transform: uppercase;
	padding: 1rem;
	border-radius: .5rem;
}

.navbar a:hover {
	background-color: rgba(0, 0, 0, .5);
}

#check {
	display: none;
}

.icons {
	position: absolute;
	right: 5%;
	font-size: 2.8rem;
	color: white;
	cursor: pointer;
	display: none;
}


.glass-container {
	position: relative;
	float: left;
	left: 50%;
	transform: translateX(-50%);
	margin: auto 0;
	width: 90%;
	max-width: 1600px;
	height: fit-content;
	padding: 3rem;
	border-radius: 2rem;
	background-color: rgba(0, 0, 0, .2);
	backdrop-filter: blur(50px);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
}

/* HOME DESIGN */

#home.glass-container {
	margin-top: 9rem;
}

#home .wrapper-home {
	width: 100%;
}

#home .wrapper-userImg{
	float: left;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

#home .wrapper-userImg img{
	width: 20%;
	height: inherit;
	/* outline: solid rgba(0, 0, 0, .2) 1rem;
	border-radius: 50%;
	overflow: hidden;
	filter: drop-shadow(1.2rem 1.2rem 2rem rgba(0, 0, 0, 0.959)); */
}

#home .description .title {
	float: left;
	width: 100%;
	padding-top: 1rem;
	color: var(--light-white);
	text-align: center;
}

#home .description h2 {
	text-transform: uppercase;
	font-size: 2rem;
}

#home .icons-socials, #home .buttons {
	width: 100%;
	float: left;
	display: flex;
	justify-content: center;
	color: white;
}

#home .icons-socials i{
	font-size: 1.5rem;
	margin: 1rem;
	cursor: pointer;
}


#home #btn-hire{
	font-family: "Poppins", sans-serif;
	font-size: .9rem;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: .5rem;
	padding: .5rem 2rem;
	margin-top: 1.5rem;
	color: --light-black;
	background-color: rgba(255, 255, 255, 0.753);
	/* background-color: rgba(1, 1, 1, .1); */
	backdrop-filter: blur(50px);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
	cursor: pointer;
}

#home #btn-dl-resume{
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	font-size: .9rem;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: .5rem;
	padding: .5rem 2rem;
	margin-top: 1.5rem;
	margin-top: 1.5rem;
	margin-left: 1rem;
	border: solid white .1rem;
	color: white;
	background-color: rgba(255, 255, 255, 0);
	backdrop-filter: blur(50px);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
	cursor: pointer;
}

#home #btn-hire:hover {
	background-color: rgba(255, 255, 255, 1);
}

#home #btn-dl-resume:hover {
	background-color: rgba(0, 0, 0, .5);
}















/* TIMELINE LAYOUT */	
#timeline.glass-container {
	margin-top: 10rem;
	text-align: center;
	color: white;
}

#timeline .title {
	color: white;
	font-size: 2rem;
	margin-bottom: 1.5rem;
}

#timeline .timeline-card-group {
	float: left;
	width: 100%;
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
}

#timeline .timeline-card {
	float: left;
	width: 33%;
	height: 8rem;
	border-radius: 1rem;
	margin: 1rem 1rem;
	padding: 1rem;
	border: solid white .05rem;
	border-radius: 2rem;
	background-color: rgba(0, 0, 0, .2);
	backdrop-filter: blur(50px);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
	transition: .2s ease-in;
}

#timeline .timeline-card h2{
	font-size: 2rem;
	/* text-overflow: hidden; */
}

#timeline .timeline-card p{
	margin-bottom: 1rem;
	visibility:hidden;
}

#timeline .bx-chevron-down {
	margin-top: .2rem;
	font-size: 2.3rem;
	transition: .3s ease;
	cursor: pointer;
}

#timeline .timeline-card:hover{
	transform: translateY(-.3rem);
}

#timeline .bx-chevron-down:hover {
	font-size: 3rem;
	transform: translateY(.1rem);
}

#collapse1 {
	display: none;
}

#collapse1:checked~ * .timeline-card p{
	visibility: visible;
}













/* PROJECTS DESIGN */

#projects.glass-container {
	margin-top: 3rem;
	text-align: center;
	color: white;
	float: left;
	width: 90%;
}

#projects .glass-container.project-container {
	margin-top: 3rem;
	border: solid white .05rem;
	box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 1);
	cursor: pointer;
	transition: .3s ease;
}

#projects .glass-container.project-container:hover {
	transform: translateY(-1rem);
}

#projects .title {
	color: white;
	font-size: 2rem;
	margin-bottom: 1.5rem;
}

#projects .proj-group-title h2 {
	font-size: 2.5rem;
}

#projects .project-card {
	display: none;
}

#projects .logo-icons {
	margin: 1rem;
	font-size: 1.8rem;
}

#projects .logo-icons i {
	margin: .5rem;
}

#projects #project-collapse {
	font-size: 3rem;
	transition: .3s ease;
}

#projects #project-collapse:hover {
	font-size: 3.5rem;
	transform: translateY(.5rem);
}














/* HOBBIES DESIGN  */

#hobbies.glass-container {
	margin-top: 3rem;
	text-align: center;
	color: white;
	float: left;
}

#hobbies .title {
	font-size: 4rem;
	margin-bottom: 2rem;
}

#hobbies .hobbies-wrapper {
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: space-evenly;
}

#hobbies .hobby-card {
	width: 30%;
	padding: 3rem;
	border-radius: 2rem;
	border: solid rgb(23, 23, 23) .5rem;
	background-color: rgba(0, 0, 0, 0.083);
	backdrop-filter: blur(50px);
	box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.693);
	
}

#hobbies .hobby-card h2{
	font-size: 3rem;
	margin: 0 auto;
}









/* CONTACT ME  */

#contactMe.glass-container {
	margin-top: 3rem;
	text-align: center;
	color: white;
	float: left;
	width: 90%;
	padding: 1.5rem;
	border: solid white .5rem;
}

#contactMe .contact-header {
	text-align: justify;
}

#contactMe  .contact-header h2{
	text-align: justify;
	font-size: 2rem;
}

#contactMe  .contact-header p{
	text-align: justify;
	font-size: 1rem;
}

#contactMe  form {
	margin-top: .8rem;
	display: flex;
	flex-flow: column wrap;
}

#contactMe form label {
	margin-left: .5rem;
	font-size: 1rem;
	text-align: left;
}
#contactMe  form input, #agenda {
	padding: .5rem;
	margin-bottom: 10px;
	font-size: .8rem;
	font-weight: bolder;
	border-radius: 10px;
}

#message {
	padding: .9rem;
	margin-bottom: 10px;
	font-size: 1rem;
	font-weight: bolder;
	border-radius: 10px;
}

.submit-wrapper {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row nowrap;
	margin: 0 auto;
	max-width: 150px;
	width: 20%;
	background-color: white;
	border-radius: 1rem;
}
.submit-wrapper:hover {
	background-color: rgb(201, 201, 201);
}

.submit-wrapper h2{
	margin-left: 2rem;
	line-height: 37px;
	display: inline-block;
	color: var(--dark-black);
	font-size: 1rem;
}

.submit-wrapper i{
	display: inline-block;
	color: var(--dark-black);
	font-size: 2rem;
	margin-right: 2rem;
}

#btn_send{
	background-color: rgba(0, 0, 0, 0);
	border: none;
	align-self: center;
	width: fit-content;
	text-align: left;
	height: inherit;
	line-height: inherit;
} 















/* BREAK POINTS */

@media (max-width: 992px){
	.header {
		padding: .8rem 5%;
	}

	#home .user-img{
		float:left;
		width:50%;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#home .user-img img{
		width:50%;
		height: inherit;
	}

	#home .description .wrapper {
		width: 50%;
		float: right;
	}
	

	#home .description p {
		font-size: 1.2rem;
	}

	/* TIMELINE SECTION */

	#timeline .timeline-card-group {
		display: inline-block;
	}

	#timeline .timeline-card {
		width: 95%;
	}

	/* PROJECTS SECTION */

	#projects.glass-container {
		width: 90%;
	}

	#projects .proj-group-title h2 {
		font-size: 2rem;
	}

}


















@media (max-width: 768px){
	.icons {
			display: inline-flex;
	}

	#check:checked~.icons #menu-open {
			display: none;
	}

	.icons #menu-close{
		display: none;
	}

	#check:checked~.icons #menu-close {
		display: block;
	}

	.navbar {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 0;
		background: rgba(0, 0, 0, .2);
		backdrop-filter: blur(50px);
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
		overflow: hidden;
		transition: .3s ease;
	}
	#check:checked~.navbar {
		height: 18.3rem;
	}

	.navbar a {
		display: block;
		font-size: 1.1rem;
		text-align: center;
		transform: translateY(-50px);
		transition: .5s ease;
		opacity: 0;
	}
	
	#check:checked~.navbar a{
		opacity: 1;
		transform: translateY(0);
		transition-delay: calc(.15s * var(--i));
	}

	/* HOME SECTION*/

	#home.glass-container {
		margin-top: 6.4rem;
		height: fit-content;
	}

	#home .description {
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		width: 100%;
	}

	#home .description .wrapper {
		width: 100%;
		float: left;
	}
	

	#home .description h2 {
		font-size: 2.5rem;
		margin-bottom: 1rem;
	}

	#home .description p {
		font-size: 1.2rem;
	}
	
	#home #btn-hire{
		margin-right: .5rem;
		padding: .5rem 1.5rem;
	}
	#home #btn-dl-resume{
		margin-left: .5rem;
		padding: .5rem 1.5rem;
	}

	#home .user-img{
		display: none;
	}

	/* TIMELINE SECTION */

	#timeline .timeline-card-group {
		margin: 0rem;
	}
	#timeline .timeline-card {
		margin: 1rem 0rem;
	}

	/* PROJECTS SECTION */

	#projects .proj-group-title h2 {
		font-size: 1.5rem;
	}

}
